[submodule "user"]
	path = user
	url = git@github.com:TeamFavr/user-service.git
[submodule "restapi"]
	path = restapi
	url = git@github.com:TeamFavr/restapi-service.git
[submodule "favour"]
	path = favour
	url = git@github.com:TeamFavr/favour-service.git
